@charset "UTF-8";
* {
    box-sizing: border-box;
}
body {
    background-color: #f7f6f6;
    font-family: 'Solway', serif;
    padding: 0px;
    margin: 0px;
}


header{
    background-color: white;
    padding: 15px 10px;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    align-self: flex-end;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1;
    transform: translateY(-10px);
}
header h2 {
    text-align: right;
}
header img {
    width: 200px;
    height: 100px;

}
label {
    display: none;
    line-height: 80px;
    float: right;
    padding: 20px 0px 0px 0px;
    width: 50px;
    height: 80px;

}

#toggle {
    display: none;
}

nav {
    height: 70px;
    line-height: 70px;
    border-radius: 10px;
    align-self: center;
 }

nav ul {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    
}
nav li {
    background-color:burlywood;
    padding: 0px 10px;
    border-radius: 20px;
    margin-right: 10px;
}
nav a{
    text-decoration: none;
    color: white;
}
nav li:hover {
    background-color: yellowgreen;

}
/* Finaliza el Header */

main{
    display: grid;
    grid-template-columns: repeat(12, 8.333%); 
    grid-auto-rows: auto;
    row-gap: 10px; 
  }

section {
    grid-area: auto / 2 / auto / 12;
    padding: 10px;
    margin: auto;

    }
    section iframe{
        width: 47%;
        height: 200px;
        margin-bottom: 2%;
        margin-right: 1%;
        margin-left: 1%;
        height: auto;
        border: 0px;
        background-color: transparent;
    }
    

.podcast {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
    background-color: transparent;
    transform: skew(0deg, -4deg);
    background : whitesmoke;    
    flex-flow: wrap;    
}
.container-pod{
    transform: skew(0deg, 4deg);
}    

.obra {
    padding: auto;
    background : linear-gradient(0deg, rgba(186, 189, 201, 1) 0%, rgba(101, 97, 171, 1) 50%, rgba(72, 63, 153, 1) 100%);
    transform: skew(0deg, -4deg);
    height: auto;
} 
.container-obra{
    padding: auto;
    transform: skew(0deg, 4deg);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}   

.container-obra img{
    transform: translateY(-60px);
    border-radius: 30px;
    margin: 1%;
    width: 400px;
} 
article {
    text-align: left;
    width: 49%;
    transform: translateY(-40px);
}
article h1 {
    margin-left: 1%;
    color: black;
}
article p {
    font-family: 'Rajdhani', sans-serif;
    color: white;    
}

.expos {
    background: white;
    justify-content: space-around;
    align-content: center;
    margin: 0px;
    transform: skew(0deg, -4deg);
    padding-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    
}
aside {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    margin: 5px;
    transform: skew(0deg, 4deg);
    text-align: center;
}
figure{
    flex-flow: wrap;
    margin: 5px;
    flex: auto;
    width: 300px;
    height: 300px;
    transform: skew(0deg, 0deg);

}
figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.expos h1 {
    margin-top: 5%;
   
}


main>section:nth-child(3) {
    margin-top: 5px;
} 
footer {
    height: auto;
    font-size: 12px;
    width: 100%;
    background-color: rgb(220, 220, 220);
    text-align: left;

    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
}
footer i {
    font-size: 3em;
    color: tomato;
    margin: 10px;
}
footer ul {
    list-style: none;
    width: 50%;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
footer a{
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 510px) {
    header {
        flex-shrink: inherit;
    }
    header h2 {    
       display: none;
    }
    label {
        display: block;
        cursor: pointer;
    }
    nav {
        width: 100%;
        display: none;
        height: auto;
    }
    nav a {
        color: white;
    }
    nav ul {
        flex-direction: column;
    }
    nav li {
        text-align: center;
        margin-bottom: 5px;
        margin-right: 0px;
    }
    #toggle:checked + nav {
        display: block;
    }
    section {
        grid-area: auto / 1 / auto / 13;
        margin-top: 20px;
        padding: 10px;
    }

    section iframe {
        padding: 5px;
        width: 100%;
        height: 200px;    
    }
    article {
        margin: 1% 1% 10% 1%;
        width: 80%;
    }
    article p{
        width: auto;
    }
    
    figure {
        width: 100%;
    }
    .container-obra img{
        width: 90%;
        margin: 3%;
    }
    footer i {
        font-size: 3em;
        margin: 5px 15px;
    }
    footer ul {
        width: auto;
    }

}
@media (min-width: 1440px) {
    header {
        width: 100%;
    }
    main {
        width: 100%;
        align-content: center;
    }
}
@media (min-width: 670px) {
header{
    justify-content: space-between;
}
}
    

